@mixin animation($name, $duration, $timing) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Quary
/*
Mobile =              0-600 PX 
Tablet Portrait     600-900 PX 
Tablet Landscape   900-1200 PX
Normal Style      1200-1800 PX 

Big Desktop             1800PX+
*/

/*
$breakpoint arguement 
-- phone
-- tab-port
-- tab-land
-- big-desktop
ORDER : Base + Typography > Genaral Layout + Grid > Page Layout  > Components 
*/
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px+
      @content;
    }
  }
}
// Media Quary
