

@mixin animation($name,$duration,$timing) 
{
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
  }
  
  // Keyframe Move in left
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(15px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // Keyframe Move In Right
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-15px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
// Move in buttom
  @keyframes moveInBottom{
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
  
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }