.bg-video {
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.15;
  &__content{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  
}
